.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search {
  font-size: 48px;
  color: #ddd;
  padding: 20px;
  width: 30ch;
  margin-top: 20px;
  text-transform: uppercase;
  background: rgba(203, 221, 213, 0.074);
  border: 2px solid #f3f2efad;
  border-radius: 3px;
}

body {
  background: url(./img/vicecitybg.jpg) center top no-repeat;
  background-size: cover;
}

.cheat_message {
  background: #000000ae;
  color: #ffffffae;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  padding: 15px;
  text-align-last: left;
  width: 400px;
  position: absolute;
  left: 30px;
  top: 30px;
}
